<div class="ui one column divided grid">
  <div class="row">
    <div class="column">
        <div class="value">{{article.votes}}</div>
        <div class="label">Points</div>
    </div>
  </div>

</div>

<!-- 
<div class="ui segments">
  <div class="ui statistic">

  </div>
</div> -->


<div class="twelve wide column">
  <a href="{{ link }}" class="ui large header">{{ article.link }}</a>
    {{article.title}}
  <ul class="ui big horizontal list voterx">
    <li class="item">
      <a href (click)=voteUp()>
        <i class="arrow up icon"></i>upvote</a>
    </li>
    <li class="item">
      <a href (click)=voteDown()>
        <i class="arrow up icon"></i>downvote
      </a>
  
    </li>
  </ul>
</div>



<div class="ui card">
    <div class="ui slide masked reveal image">
      <img src="/images/avatar/large/jenny.jpg" class="visible content">
      <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
      <a class="header">Team Fu &amp; Hess</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>