<div clas="ui grid centered">
<form action="" class="ui  form segment">
  <h3 class="ui header"> Add a Link</h3>
  <div class="field">
    <label for="title">Title : </label>
    <input name="title" #title>
  </div>
  <div class="field">
    <label for="link">Link : </label>
    <input name="link" #link>
  </div>
  <div class="field">
    <button (click)="addArticle(link, title)" class="ui primary button">
      Submit Link
    </button>
  </div>
</form>
</div>
<div class="ui grid centered posts">
  <app-article *ngFor="let foobar of articles" [article]="foobar">
  </app-article>
</div>